/*-------------------*/
/*  GENERAL RESET    */
/*-------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align: baseline;
	background:none;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
q:before, q:after {
	content: '';
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
html, body {
	margin:0;
	padding:0;
	min-height:100%;
}
/*-------------------*/
/* GENERAL SETTINGS  */
/*-------------------*/
body {
	height:100%;
	color: #000;
}
 @font-face {
 font-family: 'Museo700';
 src: url('../fonts/museo700-regular-webfont.eot');
 src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/museo700-regular-webfont.woff') format('woff'),  url('../fonts/museo700-regular-webfont.ttf') format('truetype'),  url('../fonts/museo700-regular-webfont.svg#Museo700') format('svg');
 font-weight: normal;
 font-style: normal;
}
/*-------------------*/
/*     WRAPPER       */
/*-------------------*/
#wrapper {
	width: 100%;
	overflow: hidden;
}
/*-------------------*/
/*     LEFT MENU     */
/*-------------------*/

/* Main Menu */
#left {
	width: 20%;
	float: left;
	min-height: 615px;
	position: relative;
}
#left ul li{	
	font-family: 'Merriweather', serif;
	font-size: 15px;
	list-style-type: none;
	display: list-item;
}
#left a{
	color:grey;
}
#left a:hover{
	color:black;
}


/*-------------------*/
/*   RIGHT CONTENT   */
/*-------------------*/

/* Thumbnail Gallery Content*/
#right {
	width: 80%;
	float: right;
}
#right h3{
	color:#707070;
  	font-weight: 900;
  	font-size: 20px;  	
  	font-family: 'Merriweather', serif;
  	margin-left: 30px;
}
#right .thumbnails {
	overflow: hidden;
	padding:10px 0 0 32px;
}
#right .thumbnails li {
	float: left;
	margin: 0 21px 18px 0;
}
#right .thumbnails li a {
	border: 1px solid #eaeaea;
	padding: 2px;
	background: #f2f2f2;
	display: block;
}

/* Slideshow Gallery Content*/
#gallery-holder {
	position: relative;
	width: 719px;
	margin:20px auto 0;
	height: 442px;
}
#gallery-holder .slideshow-frame {
	background:url("../images/slideshow-frame.png") no-repeat scroll 0 0 transparent;
	height:442px;
	position:absolute;
	top:0;
	left: 0;
	width:719px;
	z-index: 10;
}
#gallery-holder .slideshow li {
	height:442px;
	position:absolute;
	top:0;
	width:719px
}
#gallery-holder .navigation a {
	height:92px;
	left:0;
	margin-top:-44px;
	position:absolute;
	top:50%;
	width:47px;
	z-index:15;
}
#gallery-holder .navigation a.prev {
	background-position:-6px -103px;
	margin-top:-44px;
}
#gallery-holder .navigation a.next {
	background-position:-65px -103px;
	left:auto;
	right:0;
}
#modules-holder {
	overflow: hidden;
	margin-top: 24px;
	margin-left: 20px;
}
#modules-holder .module {
	float: left;
	width: 204px;
	margin-right: 40px;
}
#modules-holder .module h2 {
	font-family:'Museo700';
	font-size:18px;
	font-weight:normal;
	margin-bottom:5px;
	padding-left:25px;
}
#modules-holder .module h2.module-one {
	background:url("../images/sprite.png") no-repeat scroll -128px -170px transparent;
}
#modules-holder .module h2.module-two {
	background:url("../images/sprite.png") no-repeat scroll -128px -140px transparent;
}
#modules-holder .module h2.module-three {
	background:url("../images/sprite.png") no-repeat scroll -128px -110px transparent;
}
#modules-holder .module p {
	color: #6a6a6a;
	line-height: 15px;
}
